@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

*, ::before, ::after  {
  --tw-border-spacing-y: 20px;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: linear-gradient(to top left, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
              linear-gradient(to bottom left, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
              linear-gradient(to bottom right, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
